---
import { Icon } from "astro-icon/components";
import AccordionLayout from "../layouts/AccordionLayout.astro";
import * as about from "../pages/about/about.md";
import Card from "./Card.astro";
import ContactCard from "./ContactCard.astro";
const activities = await Astro.glob("../pages/activities/*.md");
const civic = await Astro.glob("../pages/civic/*.md");
const studies = await Astro.glob("../pages/studies/*.md");
const mobility = await Astro.glob("../pages/mobility/*.md");
const contact = await Astro.glob("../pages/contact/*.md");
const PDF = "/cv-20240219.pdf";
---

<div class="join join-vertical gap-1">
  <AccordionLayout title={"About"} icon={"carbon:identification"}>
    <article class="text-justify">
      <Fragment set:html={about.compiledContent()} />
    </article>

  </AccordionLayout>

  <AccordionLayout title={"Engineering course"} icon={"carbon:education"}>
    {
      studies.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={item.frontmatter.org}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"International Mobility"} icon={"carbon:plane"}>
    {
      mobility.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            location={item.frontmatter.location}
            tags={item.frontmatter.tags}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Sustainability & Civic Engagement"} icon={"carbon:friendship"}>
    {
      civic.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={"View project"}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Sport & other activities"} icon={"carbon:basketball"}>
    {
      activities.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}          
            description={item.compiledContent()}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Career Development"} icon={"carbon:construction"}>
    <style>
      /* Container pour centrer la vidéo */
      .video-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px 0; /* Espace autour de la vidéo */
                }
    </style>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fKU967XeXF8?si=dtn-owVN2Dtyldva" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </AccordionLayout>

</div>
