---
import { Icon } from "astro-icon/components";
import AccordionLayout from "../layouts/AccordionLayout.astro";
import * as about from "../pages/about/about.md";
import Card from "./Card.astro";
import ContactCard from "./ContactCard.astro";
const activities = await Astro.glob("../pages/activities/*.md");
const civic = await Astro.glob("../pages/civic/*.md");
const studies = await Astro.glob("../pages/studies/*.md");
const mobility = await Astro.glob("../pages/mobility/*.md");
const contact = await Astro.glob("../pages/contact/*.md");
const PDF = "/cv-20240219.pdf";
---

<div class="join join-vertical gap-1">
  <AccordionLayout title={"About"} icon={"carbon:identification"}>
    <article class="text-justify">
      <Fragment set:html={about.compiledContent()} />
    </article>

  </AccordionLayout>

  <AccordionLayout title={"Engineering course"} icon={"carbon:education"}>
    {
      studies.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={item.frontmatter.org}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"International Mobility"} icon={"carbon:plane"}>
    {
      mobility.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            location={item.frontmatter.location}
            tags={item.frontmatter.tags}
            url={item.url}
            url_name={item.frontmatter.institute}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Sustainability & Civic Engagement"} icon={"carbon:friendship"}>
    {
      civic.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={"View project"}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Sport & other activities"} icon={"carbon:basketball"}>
    {
      activities.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}          
            description={item.compiledContent()}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Career Development"} icon={"carbon:construction"}>
    <div class="flex flex-wrap content-around gap-4 justify-center">
      {
        contact.map((item) => {
          return (
            <ContactCard
              url={item.frontmatter.url}
              url_name={item.frontmatter.title}
              icon={item.frontmatter.icon}
            />
          );
        })
      }
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fKU967XeXF8?si=Sgmlp9hNM58R28-B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </AccordionLayout>

</div>
